<%
var data = [
    {
        "id": "004",
        "title": "13imi.me/ink",
        "url": "http://13imi.me/www/p5/ink.html",
        "desc": "splat◯◯n風のインクアクションをただただ楽しめるページ。インクの質感をノイズで表現。p5.jsで。",
        "pic": [
            {
                "url": "images/ink01.png",
                "id": "001"
            },
        ]
    },
    {
        "id": "003",
        "title": "tuge.me",
        "url": "http://tuge.me",
        "desc": "幹事の店管理ツール。お気に入り店のURLを入力することで、食べログ、ホットペッパー、ぐるなびの情報を管理できます。Ruby on Railsを使用、レンタルサーバーに環境構築。デザインを変えて公開したい。",
        "pic": [
            {
                "url": "images/tuge01.png",
                "id": "001"
            },
        ]
    },
    {
        "id": "002",
        "title": "takuya-kodama.tumblr.com",
        "url": "http://takuya-kodama.tumblr.com",
        "desc": "友人のドラマーのポートフォリオサイト。更新性を重視して、Tumblrをカスタマイズ。",
        "pic": [
            {
                "url":  "images/TAKUYA KODAMA_00_pc.png",
                "id": "001"
            },
            {
                "url":  "images/TAKUYA KODAMA_02_sp.png",
                "id": "002"
            },
            {
                "url":  "images/TAKUYA KODAMA_03_sp.png",
                "id": "003"
            },
            {
                "url":  "images/TAKUYA KODAMA_05_sp.png",
                "id": "004"
            }
        ]
    },
    {
        "id": "001",
        "title": "collagree.com",
        "desc": "修士論文の研究テーマであった「集合知、合意形成」に関するオンライン議論システム。名古屋市と社会実験を実施。",
        "pic": [
            {
                "url": "images/COLLAGREE00.png",
                "id": "001"
            },
            {
                "url": "images/COLLAGREE01.png",
                "id": "002"
            },
            {
                "url": "images/COLLAGREE04.png",
                "id": "002"
            }
        ]
    },
    {
        "id": "005",
        "title": "13imi.me",
        "url": "http://13imi.me",
        "desc": "このサイト。遊び。",
        "pic": [
            {
                "url": "images/portfolio00.png",
                "id": "001"
            },
            {
                "url": "images/portfolio01.png",
                "id": "002"
            },
        ]
    }
];

%>

<div class="row conts">
  <div class="col-md-12 conts--heading heading">
    <h2 class="en-font">work</h2>
    <span class="small-font">実績</span>
  </div>

  <% data.forEach(function(d) { %>
    <div class="col-md-3 conts--item">
      <a href="#" data-toggle="modal" data-target="#myModal_<%= d.id %>">
        <img src="<%= d.pic[0].url %>" class="" alt="<%= d.title %>" "/>
      </a>
      <p class="en-font conts--caption"><%= d.title %></p>
    </div>

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> -->
    <!-- Launch demo modal -->
    <!-- </button> -->

    <!-- Modal -->
    <div class="modal fade conts--modal" id="myModal_<%= d.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content conts--modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title en-font" id="exampleModalLabel"><%= d.title %>
              <% if (typeof d.url !== 'undefined') { %>
              <small><a href="<%= d.url %>" target=”_new”><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></small>
              <% } %>
            </h3>
          </div>

          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-md-push-8">
                  <p class="conts--modal-outline-title">Outline</p>
                  <p class="conts--modal-outline"><%= d.desc %></p>
                </div>
                <div class="col-md-8 col-md-pull-4">
                  <% d.pic.forEach(function(p){ %>
                    <div class="conts--modal-img">
                      <img src="<%= p.url %>" class="" alt="<%= d.title %>" "/>
                    </div>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <!-- ./modal -->
  <% }); %>
</div>
